@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: #0c0c0c;
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
.app-header {
  background-color: transparent;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-header .logo {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 3px;
}
.visible {
  animation: 1s fadeIn ease-in-out forwards;
  z-index: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Sidebar */
.sidebar {
  width: 490px;
  height: 40px;
  border-top: 1px solid #535353;
  position: fixed;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -97%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.sidebar-btn {
  padding-left: 15px;
  width: auto;
  margin-left: 40px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  border: none;
  background-color: transparent;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}

.sidebar-dot {
  font-size: 40px;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-3%, -50%);
  color: #0f33ff;
}
.sidebar-num {
  pointer-events: none;
}

/* Home */
.home {
  max-width: 1000px;
  height: calc(490px + 100px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat";
}

.home-top {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: -15px;
}
.home-top h1 {
  font-size: 68px;
  font-weight: 900;
  line-height: 68px;
  margin-bottom: 60px;
  cursor: default;
}
.resume-btn {
  font-family: "Montserrat";
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 22.4px;
  padding: 7px 15px;
  cursor: pointer;
  position: relative;
}
.resume-btn::after {
  z-index: -1;
  position: absolute;
  content: "\00a0";
  background-color: #0f33ff;
  width: 50px;
  padding: 5px 15px;
  top: 0;
  right: 0;
}
.resume-btn:hover::after {
  width: 80px;
  transition: all 300ms ease-in-out;
}

.home-top img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.home-line::before {
  position: absolute;
  content: "\00a0";
  height: 3px;
  width: 40px;
  background-color: #0f33ff;
  left: 1%;
}
.home-line {
  width: 100%;
  height: 1px;
  background-color: #535353;
  position: relative;
}

.home-bottom {
  margin-top: -20px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.home-section {
  color: #272727;
  cursor: default;
}
.home-section:hover {
  transition: color 300ms ease-in-out;
  color: #ffffff;
}
.home-section > h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  margin-bottom: -10px;
}
.home-section > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
}

/* Contact */
.contact {
  max-width: 1200px;
  height: 490px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Montserrat";
}
.contact-img {
  background-image: url("https://i.im.ge/2022/08/07/FRRB1K.baku-map-1.png"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  width: 70%;
}
.contact-pin {
  position: absolute;
  width: 100px;
  height: 60px;
  top: 60%;
  left: 37.5%;
  transform: translate(-60%, -37.5%);
  filter: brightness(50%);
}

.contact-links {
  background-color: #000000;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-links div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
  height: auto;
  padding: 5px;
  gap: 5px;
  overflow: hidden;
}
.icon-btn {
  text-decoration: none;
  background-color: #131313;
  color: #dedede;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}
.icon-btn:hover {
  transform: scale(1.1);
  background-color: #0f33ff;
}

/* Projects */
.projects {
  font-family: "Montserrat";
  max-width: 1200px;
  height: calc(590px + 100px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.projects-header {
  z-index: 1;
  width: 95%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.projects-header > button {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}
.projects-header > button:hover {
  color: #0f33ff;
  transition: color 500ms;
}
.projects-header > .active {
  color: #0f33ff;
}

.projects-slider {
  display: flex;
  z-index: 1;
  position: relative;
  width: 95%;
}

.slider-inner {
  display: flex;
  scroll-behavior: smooth;
}
.projects-item {
  min-width: 640px;
  min-height: 400px;
  padding: 50px 20px;
  padding-top: 5px;
}

.project-img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition: 4s all;
  background-size: cover;
}
.project-hover:hover .project-img {
  background-position: bottom;
}
.slide-left {
  cursor: url("./assets/arrow-left.png"), grab;
}
.slide-right {
  cursor: url("./assets/arrow-right.png"), grab;
}

.project-link {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  border: none;
}
.project-link h2 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
}
.project-link div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-link button {
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.project-link button:hover {
  color: #0f33ff;
}

@media only screen and (max-width: 912px) {
  .projects-item {
    min-width: 340px;
    min-height: 200px;
    padding: 50px 20px;
  }
}

/* Mobile */
.m-container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  color: #ffffff;
}
.m-home,
.m-projects {
  width: 80%;
  margin: 50px auto;
}
.m-header {
  z-index: 1;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #0c0c0c;
}
.m-line::before {
  width: 20px;
}
.m-line {
  margin: 20px 0;
}
.home-section {
  display: flex;
  flex-direction: column;
}
.home-section > h2,
.home-section > p {
  line-height: 0;
}
.home-section > h2 {
  margin-top: 30px;
  margin-bottom: 6px;
}
.m-contact {
  margin-top: -260px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-contact div{
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}