.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.about {
  width: 100%;
  display: flex;
  gap: 30px;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.links{
  display: flex;
  gap: 20px;
}
.imgcontainer{
  width: 200px;
  height: 250px;
}
.img {
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .imgcontainer{
    display: none;
  }
  .img{
    display: none;
  }
}