* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 20px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #131313;
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: #131313;
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to right top,
    #71e4ff,
    #67beff,
    #b388ee,
    #e43f95,
    #cf111d
  );
}
/*    START Scroll Top button   */
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: transparent;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 1000;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #62cafd;
}
#scroll:hover {
  background-color: #fff;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}
/*    END Scroll Top button   */

.header-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/assets/img/main/header-bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* START Header Text ve Buton ozellikleri  */
.h-content {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: h-animation 4s alternate;
}
@keyframes h-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.h-content .h-text {
  text-align: center;
  top: 20%;
  position: absolute;
  color: #ffffff;
  font-size: 40px;
  padding-left: 50px;
}
.h-text span {
  margin-left: 50%;
}
.h-content .h-buttons-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 40%;
}
.h-buttons-container .h-btn {
  border: 1px solid #62cafd;
  border-radius: 20px;
  text-align: center;
  width: 40%;
  padding: 7px 10px;
  margin: 0 10px;
  text-decoration: none;
  color: #62cafd;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 25px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-55%, -50%);
}
.h-btn:hover {
  background: linear-gradient(to right, #62cafd 0, #fff 10%, #62cafd 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: bolder;
  border-color: #fff;
  transition: border-color 300ms;
  text-decoration: none;
  white-space: nowrap;
}
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
/* START Header Text ve Buton ozellikleri  */

/* START Header Social icon ozellikleri  */
.social-container {
  width: 40px;
  height: 300px;
  float: right;
  margin: 30px;
  top: 25%;
  position: relative;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  animation: h-animation 4s alternate;
}
.social-container i {
  background-image: linear-gradient(
    to right top,
    #71e4ff,
    #67beff,
    #b388ee,
    #e43f95,
    #cf111d
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-container a:hover {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .h-content .h-text {
    top: 30%;
  }
  .social-container {
    display: none;
  }
}
/* END Header Social icon ozellikleri  */

/* START Header ust-alt veritical cizgi  */
.h-line-top {
  float: left;
  width: 50%;
  height: 180px;
  top: 0;
  border-right: 1px solid #62cafd;
}
.h-line-bottom {
  position: absolute;
  float: right;
  bottom: 70px;
  right: 0;
  width: 50%;
  height: 115px;
  border-left: 1px solid #62cafd;
}

/* END Header ust-alt veritical cizgi  */

/* START Header scroll butonu  */
.scroll-btn {
  position: absolute;
  height: 40px;
  width: 20px;
  border: 2px solid #62cafd;
  border-radius: 30px;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: h-animation 4s alternate;
}
.scroll-btn::before,
.scroll-btn::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid #62cafd;
  height: 9px;
  width: 9px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-btn 1s ease-in-out infinite;
}
.scroll-btn::after {
  top: 30%;
}
@keyframes scroll-btn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
/* END Header scroll butonu  */

/*  START Header arkaplan yildizlari    */
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1948px 1291px #fff, 1026px 1836px #fff, 263px 714px #fff,
    1353px 1787px #fff, 1273px 63px #fff, 1129px 1194px #fff, 530px 548px #fff,
    224px 1928px #fff, 654px 481px #fff, 517px 1479px #fff, 33px 1790px #fff,
    343px 57px #fff, 203px 380px #fff, 120px 967px #fff, 753px 796px #fff,
    1423px 330px #fff, 1527px 1388px #fff, 1626px 449px #fff, 1643px 1687px #fff,
    1610px 1614px #fff, 1790px 559px #fff, 1503px 1416px #fff,
    1633px 1434px #fff, 146px 1585px #fff, 1189px 885px #fff, 881px 1086px #fff,
    1871px 1035px #fff, 1076px 1111px #fff, 859px 792px #fff, 752px 1466px #fff,
    1512px 991px #fff, 1571px 838px #fff, 483px 574px #fff, 1953px 1084px #fff,
    652px 669px #fff, 497px 1316px #fff, 875px 28px #fff, 1828px 262px #fff,
    1651px 205px #fff, 1945px 44px #fff, 1216px 1646px #fff, 1664px 369px #fff,
    434px 965px #fff, 1701px 635px #fff, 592px 886px #fff, 1859px 433px #fff,
    1408px 50px #fff, 157px 583px #fff, 762px 1391px #fff, 1713px 685px #fff,
    1749px 1498px #fff, 1850px 893px #fff, 1100px 561px #fff, 1402px 1082px #fff,
    1303px 1881px #fff, 1835px 1929px #fff, 1685px 167px #fff,
    1702px 1051px #fff, 163px 1001px #fff, 778px 266px #fff, 341px 1252px #fff,
    280px 1243px #fff, 250px 1405px #fff, 1249px 1082px #fff, 612px 216px #fff,
    368px 1810px #fff, 536px 735px #fff, 887px 1734px #fff, 562px 1090px #fff,
    890px 1159px #fff, 611px 1676px #fff, 263px 413px #fff, 1106px 626px #fff,
    720px 36px #fff, 408px 71px #fff, 1953px 1973px #fff, 398px 396px #fff,
    658px 670px #fff, 238px 481px #fff, 1597px 1198px #fff, 202px 499px #fff,
    471px 1034px #fff, 1011px 45px #fff, 281px 892px #fff, 1953px 973px #fff,
    1005px 1806px #fff, 1658px 1521px #fff, 1485px 534px #fff, 1691px 24px #fff,
    178px 1383px #fff, 228px 1784px #fff, 909px 1937px #fff, 1248px 1194px #fff,
    1803px 1227px #fff, 1848px 1917px #fff, 1289px 1614px #fff,
    1434px 1672px #fff, 995px 698px #fff, 1695px 515px #fff, 987px 1312px #fff,
    291px 1504px #fff, 669px 566px #fff, 389px 834px #fff, 1260px 277px #fff,
    83px 1300px #fff, 1034px 593px #fff, 379px 1552px #fff, 87px 1733px #fff,
    1908px 1186px #fff, 38px 938px #fff, 1386px 477px #fff, 1306px 443px #fff,
    446px 499px #fff, 1279px 1013px #fff, 1657px 236px #fff, 802px 162px #fff,
    375px 362px #fff, 1662px 665px #fff, 186px 441px #fff, 684px 1385px #fff,
    1749px 901px #fff, 1518px 967px #fff, 1204px 1611px #fff, 258px 1540px #fff,
    1660px 98px #fff, 1874px 932px #fff, 1965px 761px #fff, 782px 856px #fff,
    1795px 950px #fff, 629px 1269px #fff, 1277px 471px #fff, 1806px 1686px #fff,
    168px 1480px #fff, 1791px 674px #fff, 1823px 247px #fff, 324px 1297px #fff,
    1081px 829px #fff, 408px 1203px #fff, 408px 1129px #fff, 292px 1418px #fff,
    413px 159px #fff, 175px 282px #fff, 717px 1942px #fff, 542px 977px #fff,
    1467px 1235px #fff, 1642px 1386px #fff, 1095px 1366px #fff,
    1574px 549px #fff, 1576px 1766px #fff, 142px 732px #fff, 562px 76px #fff,
    1148px 308px #fff, 1908px 315px #fff, 695px 1098px #fff, 571px 682px #fff,
    416px 833px #fff, 279px 358px #fff, 1710px 708px #fff, 1018px 102px #fff,
    1275px 1572px #fff, 1514px 1493px #fff, 1001px 645px #fff, 179px 1076px #fff,
    1178px 486px #fff, 472px 982px #fff, 692px 1276px #fff, 140px 552px #fff,
    1985px 1029px #fff, 1227px 1187px #fff, 869px 150px #fff, 1318px 1053px #fff,
    486px 1388px #fff, 1136px 404px #fff, 505px 1370px #fff, 264px 434px #fff,
    374px 1726px #fff, 1632px 894px #fff, 587px 1548px #fff, 724px 1439px #fff,
    1269px 982px #fff, 625px 20px #fff, 873px 1585px #fff, 1480px 1784px #fff,
    1163px 525px #fff, 35px 1231px #fff, 1982px 270px #fff, 1259px 1743px #fff,
    1002px 846px #fff, 1572px 1644px #fff, 1229px 593px #fff, 853px 1458px #fff,
    1936px 1485px #fff, 1551px 1252px #fff, 1552px 1464px #fff,
    1026px 1586px #fff, 1540px 1140px #fff, 752px 1791px #fff, 574px 857px #fff,
    1255px 1563px #fff, 1662px 1489px #fff, 327px 378px #fff, 6px 1683px #fff,
    347px 1265px #fff, 1452px 1418px #fff, 751px 1445px #fff, 600px 1195px #fff,
    495px 91px #fff, 430px 1746px #fff, 1199px 477px #fff, 286px 683px #fff,
    160px 847px #fff, 972px 1831px #fff, 179px 398px #fff, 718px 1947px #fff,
    500px 124px #fff, 184px 1854px #fff, 1449px 946px #fff, 660px 599px #fff,
    882px 1229px #fff, 172px 638px #fff, 1151px 121px #fff, 404px 745px #fff,
    205px 1921px #fff, 309px 1051px #fff, 790px 276px #fff, 1343px 254px #fff,
    1174px 1682px #fff, 634px 830px #fff, 69px 753px #fff, 687px 548px #fff,
    1873px 1317px #fff, 1871px 541px #fff, 1081px 421px #fff, 1819px 630px #fff,
    1946px 392px #fff, 1693px 1689px #fff, 1575px 1378px #fff, 825px 1002px #fff,
    1399px 836px #fff, 1308px 1834px #fff, 1525px 1070px #fff, 304px 388px #fff,
    1401px 263px #fff, 429px 1282px #fff, 1166px 579px #fff, 1507px 1548px #fff,
    1062px 815px #fff, 1761px 1231px #fff, 843px 1972px #fff, 1035px 1585px #fff,
    143px 75px #fff, 1604px 428px #fff, 988px 655px #fff, 1151px 250px #fff,
    1766px 1571px #fff, 1863px 401px #fff, 546px 1379px #fff, 261px 1206px #fff,
    1266px 195px #fff, 1907px 1122px #fff, 1719px 137px #fff, 1210px 558px #fff,
    983px 398px #fff, 1297px 1798px #fff, 860px 757px #fff, 339px 74px #fff,
    616px 765px #fff, 1888px 1505px #fff, 1385px 1711px #fff, 420px 986px #fff,
    1977px 1042px #fff, 1374px 1939px #fff, 1606px 1158px #fff,
    1406px 1127px #fff, 1734px 474px #fff, 1163px 1952px #fff, 995px 776px #fff,
    367px 789px #fff, 1833px 1945px #fff, 1393px 567px #fff, 941px 593px #fff,
    1784px 361px #fff, 943px 1575px #fff, 1124px 358px #fff, 1157px 699px #fff,
    1818px 837px #fff, 1795px 1383px #fff, 930px 125px #fff, 1718px 305px #fff,
    694px 1018px #fff, 135px 1105px #fff, 381px 255px #fff, 544px 1956px #fff,
    589px 1800px #fff, 699px 1432px #fff, 934px 1578px #fff, 355px 1773px #fff,
    1412px 1838px #fff, 390px 1586px #fff, 347px 853px #fff, 997px 111px #fff,
    1620px 913px #fff, 347px 1987px #fff, 108px 465px #fff, 113px 1515px #fff,
    328px 827px #fff, 383px 8px #fff, 1075px 5px #fff, 27px 376px #fff,
    1374px 1249px #fff, 1px 720px #fff, 932px 1420px #fff, 1033px 1545px #fff,
    1483px 1266px #fff, 782px 1328px #fff, 462px 998px #fff, 21px 953px #fff,
    1135px 813px #fff, 1724px 1653px #fff, 1275px 134px #fff, 1161px 272px #fff,
    1644px 633px #fff, 198px 112px #fff, 1143px 1569px #fff, 421px 706px #fff,
    681px 1679px #fff, 703px 62px #fff, 1072px 1860px #fff, 301px 1174px #fff,
    43px 947px #fff, 134px 1323px #fff, 509px 1389px #fff, 1462px 528px #fff,
    1636px 203px #fff, 1527px 1323px #fff, 1024px 1197px #fff, 530px 695px #fff,
    1425px 589px #fff, 280px 870px #fff, 162px 731px #fff, 327px 1371px #fff,
    1515px 1634px #fff, 466px 1027px #fff, 736px 1570px #fff, 922px 1226px #fff,
    1927px 1686px #fff, 480px 987px #fff, 1637px 773px #fff, 1503px 852px #fff,
    184px 1575px #fff, 593px 492px #fff, 1178px 345px #fff, 496px 491px #fff,
    1666px 1127px #fff, 1760px 257px #fff, 1554px 1227px #fff,
    1779px 1006px #fff, 1565px 411px #fff, 1494px 1638px #fff,
    1439px 1187px #fff, 1949px 750px #fff, 1407px 1808px #fff, 56px 546px #fff,
    1914px 1329px #fff, 1557px 1783px #fff, 1847px 1433px #fff,
    984px 1947px #fff, 1399px 711px #fff, 1290px 109px #fff, 1598px 1632px #fff,
    1364px 505px #fff, 1374px 350px #fff, 98px 897px #fff, 784px 1866px #fff,
    1767px 957px #fff, 560px 1816px #fff, 293px 685px #fff, 1464px 1660px #fff,
    1243px 324px #fff, 426px 359px #fff, 1470px 4px #fff, 836px 356px #fff,
    664px 637px #fff, 934px 1249px #fff, 190px 730px #fff, 1977px 947px #fff,
    176px 1323px #fff, 894px 1030px #fff, 745px 83px #fff, 1832px 140px #fff,
    1110px 976px #fff, 558px 651px #fff, 1088px 1389px #fff, 1985px 91px #fff,
    1288px 176px #fff, 1086px 742px #fff, 1627px 1794px #fff, 502px 1603px #fff,
    646px 512px #fff, 336px 398px #fff, 1229px 378px #fff, 809px 1185px #fff,
    166px 146px #fff, 139px 667px #fff, 502px 1552px #fff, 783px 839px #fff,
    671px 422px #fff, 1680px 639px #fff, 1979px 979px #fff, 43px 1226px #fff,
    1977px 647px #fff, 1133px 722px #fff, 487px 590px #fff, 210px 1171px #fff,
    1162px 309px #fff, 874px 347px #fff, 1491px 1685px #fff, 1502px 539px #fff,
    353px 232px #fff, 941px 373px #fff, 1704px 1411px #fff, 853px 1287px #fff,
    714px 1714px #fff, 642px 1588px #fff, 1068px 962px #fff, 1235px 986px #fff,
    817px 1891px #fff, 970px 818px #fff, 556px 873px #fff, 495px 1532px #fff,
    1589px 912px #fff, 977px 1951px #fff, 1772px 1761px #fff, 1718px 1757px #fff,
    1518px 1378px #fff, 1804px 774px #fff, 1909px 761px #fff, 1791px 1786px #fff,
    1952px 1600px #fff, 891px 929px #fff, 1400px 1973px #fff, 1906px 1929px #fff,
    688px 1611px #fff, 1312px 1539px #fff, 689px 355px #fff, 1012px 1125px #fff,
    151px 866px #fff, 193px 935px #fff, 1376px 416px #fff, 265px 1677px #fff,
    902px 917px #fff, 905px 560px #fff, 1000px 1628px #fff, 542px 1000px #fff,
    1142px 1665px #fff, 1821px 1826px #fff, 1355px 1781px #fff,
    1967px 306px #fff, 1278px 1448px #fff, 658px 336px #fff, 1791px 38px #fff,
    590px 1820px #fff, 1784px 385px #fff, 335px 1894px #fff, 1459px 952px #fff,
    936px 1657px #fff, 1869px 1136px #fff, 123px 447px #fff, 1945px 1879px #fff,
    551px 260px #fff, 1662px 1951px #fff, 6px 187px #fff, 356px 279px #fff,
    1332px 745px #fff, 1716px 530px #fff, 540px 1349px #fff, 647px 205px #fff,
    1200px 492px #fff, 696px 434px #fff, 735px 104px #fff, 989px 1945px #fff,
    997px 633px #fff, 1579px 1413px #fff, 383px 1195px #fff, 1111px 932px #fff,
    1531px 813px #fff, 1001px 429px #fff, 1895px 261px #fff, 1685px 92px #fff,
    1535px 826px #fff, 1335px 1769px #fff, 935px 755px #fff, 1263px 89px #fff,
    936px 1923px #fff, 969px 1363px #fff, 1597px 260px #fff, 1792px 484px #fff,
    1355px 575px #fff, 1459px 1401px #fff, 580px 250px #fff, 1204px 1640px #fff,
    688px 1969px #fff, 438px 46px #fff, 909px 764px #fff, 1734px 1279px #fff,
    429px 1727px #fff, 1519px 456px #fff, 1085px 463px #fff, 91px 788px #fff,
    714px 1607px #fff, 1116px 1736px #fff, 1766px 1917px #fff, 126px 399px #fff,
    991px 423px #fff, 695px 1342px #fff, 1009px 641px #fff, 71px 222px #fff,
    1987px 610px #fff, 1954px 663px #fff, 787px 1106px #fff, 912px 1778px #fff,
    1402px 1848px #fff, 821px 1155px #fff, 720px 826px #fff, 928px 1315px #fff,
    815px 1873px #fff, 757px 1037px #fff, 1856px 1978px #fff, 1753px 257px #fff,
    1081px 160px #fff, 1562px 191px #fff, 1712px 991px #fff, 1590px 252px #fff,
    1827px 1248px #fff, 1073px 1894px #fff, 836px 598px #fff, 425px 734px #fff,
    974px 755px #fff, 315px 1955px #fff, 1151px 1878px #fff, 511px 982px #fff,
    1994px 529px #fff, 318px 108px #fff, 374px 1680px #fff, 1654px 983px #fff,
    1336px 912px #fff, 1139px 650px #fff, 931px 648px #fff, 468px 1339px #fff,
    1515px 717px #fff, 1195px 1578px #fff, 1358px 454px #fff, 1586px 989px #fff,
    1504px 189px #fff, 1570px 1488px #fff, 1571px 1495px #fff, 1530px 463px #fff,
    854px 685px #fff, 65px 567px #fff, 1020px 816px #fff, 1074px 605px #fff,
    1936px 1480px #fff, 1466px 1789px #fff, 198px 643px #fff, 1431px 257px #fff,
    769px 554px #fff, 1651px 1524px #fff, 1092px 884px #fff, 1821px 1005px #fff,
    905px 1975px #fff, 1877px 59px #fff, 726px 998px #fff, 1331px 293px #fff,
    1992px 699px #fff, 933px 942px #fff, 38px 858px #fff, 1850px 250px #fff,
    602px 432px #fff, 280px 1092px #fff, 1124px 4px #fff, 1935px 108px #fff,
    809px 1424px #fff, 1172px 565px #fff, 853px 402px #fff, 1302px 982px #fff,
    138px 1366px #fff, 512px 75px #fff, 1656px 1668px #fff, 629px 172px #fff,
    157px 1840px #fff, 1221px 1471px #fff, 271px 261px #fff, 1418px 1377px #fff,
    721px 1236px #fff, 701px 1101px #fff, 322px 1464px #fff, 3px 1426px #fff,
    933px 820px #fff, 1456px 1988px #fff, 1394px 920px #fff, 659px 72px #fff,
    630px 215px #fff, 1778px 1083px #fff, 377px 1198px #fff, 1562px 809px #fff,
    616px 1867px #fff, 383px 121px #fff, 1334px 528px #fff, 261px 387px #fff,
    182px 1196px #fff, 152px 1857px #fff, 1708px 158px #fff, 456px 1974px #fff,
    533px 1003px #fff, 1843px 292px #fff, 621px 724px #fff, 1443px 1254px #fff,
    185px 1027px #fff, 1329px 38px #fff, 839px 1008px #fff, 571px 1262px #fff,
    1757px 425px #fff, 837px 934px #fff, 263px 1522px #fff, 23px 1502px #fff,
    65px 1548px #fff, 1861px 1497px #fff, 527px 371px #fff, 1095px 391px #fff,
    513px 556px #fff, 444px 684px #fff, 1369px 392px #fff, 1741px 421px #fff,
    767px 69px #fff, 42px 1850px #fff, 1993px 337px #fff, 1864px 1072px #fff,
    354px 1791px #fff, 1932px 549px #fff, 1188px 1712px #fff, 1319px 1969px #fff,
    971px 1601px #fff, 663px 860px #fff, 1002px 398px #fff, 1257px 552px #fff,
    1337px 784px #fff, 197px 1217px #fff, 1188px 1020px #fff, 517px 1504px #fff,
    1626px 1050px #fff, 393px 1572px #fff, 72px 1843px #fff, 376px 1427px #fff,
    614px 126px #fff, 220px 907px #fff, 743px 251px #fff, 689px 383px #fff,
    586px 324px #fff, 1495px 51px #fff, 1792px 1562px #fff, 1281px 112px #fff,
    974px 1003px #fff, 436px 523px #fff, 1782px 928px #fff, 928px 502px #fff,
    71px 1060px #fff, 1974px 1463px #fff, 1028px 1871px #fff, 1623px 472px #fff,
    605px 254px #fff, 1946px 345px #fff, 1486px 1444px #fff, 1511px 1396px #fff,
    931px 382px #fff, 385px 1786px #fff, 1422px 1684px #fff, 1637px 777px #fff,
    1876px 150px #fff, 1172px 1539px #fff, 1550px 80px #fff, 538px 807px #fff,
    13px 1808px #fff, 762px 1292px #fff, 87px 225px #fff, 1277px 1255px #fff,
    1276px 1528px #fff, 1745px 528px #fff, 1252px 1057px #fff, 584px 1567px #fff,
    627px 980px #fff, 1666px 1898px #fff, 695px 55px #fff, 243px 500px #fff,
    173px 794px #fff, 1033px 609px #fff, 1892px 1717px #fff, 278px 43px #fff,
    1349px 192px #fff, 1034px 152px #fff, 11px 28px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1948px 1291px #fff, 1026px 1836px #fff, 263px 714px #fff,
    1353px 1787px #fff, 1273px 63px #fff, 1129px 1194px #fff, 530px 548px #fff,
    224px 1928px #fff, 654px 481px #fff, 517px 1479px #fff, 33px 1790px #fff,
    343px 57px #fff, 203px 380px #fff, 120px 967px #fff, 753px 796px #fff,
    1423px 330px #fff, 1527px 1388px #fff, 1626px 449px #fff, 1643px 1687px #fff,
    1610px 1614px #fff, 1790px 559px #fff, 1503px 1416px #fff,
    1633px 1434px #fff, 146px 1585px #fff, 1189px 885px #fff, 881px 1086px #fff,
    1871px 1035px #fff, 1076px 1111px #fff, 859px 792px #fff, 752px 1466px #fff,
    1512px 991px #fff, 1571px 838px #fff, 483px 574px #fff, 1953px 1084px #fff,
    652px 669px #fff, 497px 1316px #fff, 875px 28px #fff, 1828px 262px #fff,
    1651px 205px #fff, 1945px 44px #fff, 1216px 1646px #fff, 1664px 369px #fff,
    434px 965px #fff, 1701px 635px #fff, 592px 886px #fff, 1859px 433px #fff,
    1408px 50px #fff, 157px 583px #fff, 762px 1391px #fff, 1713px 685px #fff,
    1749px 1498px #fff, 1850px 893px #fff, 1100px 561px #fff, 1402px 1082px #fff,
    1303px 1881px #fff, 1835px 1929px #fff, 1685px 167px #fff,
    1702px 1051px #fff, 163px 1001px #fff, 778px 266px #fff, 341px 1252px #fff,
    280px 1243px #fff, 250px 1405px #fff, 1249px 1082px #fff, 612px 216px #fff,
    368px 1810px #fff, 536px 735px #fff, 887px 1734px #fff, 562px 1090px #fff,
    890px 1159px #fff, 611px 1676px #fff, 263px 413px #fff, 1106px 626px #fff,
    720px 36px #fff, 408px 71px #fff, 1953px 1973px #fff, 398px 396px #fff,
    658px 670px #fff, 238px 481px #fff, 1597px 1198px #fff, 202px 499px #fff,
    471px 1034px #fff, 1011px 45px #fff, 281px 892px #fff, 1953px 973px #fff,
    1005px 1806px #fff, 1658px 1521px #fff, 1485px 534px #fff, 1691px 24px #fff,
    178px 1383px #fff, 228px 1784px #fff, 909px 1937px #fff, 1248px 1194px #fff,
    1803px 1227px #fff, 1848px 1917px #fff, 1289px 1614px #fff,
    1434px 1672px #fff, 995px 698px #fff, 1695px 515px #fff, 987px 1312px #fff,
    291px 1504px #fff, 669px 566px #fff, 389px 834px #fff, 1260px 277px #fff,
    83px 1300px #fff, 1034px 593px #fff, 379px 1552px #fff, 87px 1733px #fff,
    1908px 1186px #fff, 38px 938px #fff, 1386px 477px #fff, 1306px 443px #fff,
    446px 499px #fff, 1279px 1013px #fff, 1657px 236px #fff, 802px 162px #fff,
    375px 362px #fff, 1662px 665px #fff, 186px 441px #fff, 684px 1385px #fff,
    1749px 901px #fff, 1518px 967px #fff, 1204px 1611px #fff, 258px 1540px #fff,
    1660px 98px #fff, 1874px 932px #fff, 1965px 761px #fff, 782px 856px #fff,
    1795px 950px #fff, 629px 1269px #fff, 1277px 471px #fff, 1806px 1686px #fff,
    168px 1480px #fff, 1791px 674px #fff, 1823px 247px #fff, 324px 1297px #fff,
    1081px 829px #fff, 408px 1203px #fff, 408px 1129px #fff, 292px 1418px #fff,
    413px 159px #fff, 175px 282px #fff, 717px 1942px #fff, 542px 977px #fff,
    1467px 1235px #fff, 1642px 1386px #fff, 1095px 1366px #fff,
    1574px 549px #fff, 1576px 1766px #fff, 142px 732px #fff, 562px 76px #fff,
    1148px 308px #fff, 1908px 315px #fff, 695px 1098px #fff, 571px 682px #fff,
    416px 833px #fff, 279px 358px #fff, 1710px 708px #fff, 1018px 102px #fff,
    1275px 1572px #fff, 1514px 1493px #fff, 1001px 645px #fff, 179px 1076px #fff,
    1178px 486px #fff, 472px 982px #fff, 692px 1276px #fff, 140px 552px #fff,
    1985px 1029px #fff, 1227px 1187px #fff, 869px 150px #fff, 1318px 1053px #fff,
    486px 1388px #fff, 1136px 404px #fff, 505px 1370px #fff, 264px 434px #fff,
    374px 1726px #fff, 1632px 894px #fff, 587px 1548px #fff, 724px 1439px #fff,
    1269px 982px #fff, 625px 20px #fff, 873px 1585px #fff, 1480px 1784px #fff,
    1163px 525px #fff, 35px 1231px #fff, 1982px 270px #fff, 1259px 1743px #fff,
    1002px 846px #fff, 1572px 1644px #fff, 1229px 593px #fff, 853px 1458px #fff,
    1936px 1485px #fff, 1551px 1252px #fff, 1552px 1464px #fff,
    1026px 1586px #fff, 1540px 1140px #fff, 752px 1791px #fff, 574px 857px #fff,
    1255px 1563px #fff, 1662px 1489px #fff, 327px 378px #fff, 6px 1683px #fff,
    347px 1265px #fff, 1452px 1418px #fff, 751px 1445px #fff, 600px 1195px #fff,
    495px 91px #fff, 430px 1746px #fff, 1199px 477px #fff, 286px 683px #fff,
    160px 847px #fff, 972px 1831px #fff, 179px 398px #fff, 718px 1947px #fff,
    500px 124px #fff, 184px 1854px #fff, 1449px 946px #fff, 660px 599px #fff,
    882px 1229px #fff, 172px 638px #fff, 1151px 121px #fff, 404px 745px #fff,
    205px 1921px #fff, 309px 1051px #fff, 790px 276px #fff, 1343px 254px #fff,
    1174px 1682px #fff, 634px 830px #fff, 69px 753px #fff, 687px 548px #fff,
    1873px 1317px #fff, 1871px 541px #fff, 1081px 421px #fff, 1819px 630px #fff,
    1946px 392px #fff, 1693px 1689px #fff, 1575px 1378px #fff, 825px 1002px #fff,
    1399px 836px #fff, 1308px 1834px #fff, 1525px 1070px #fff, 304px 388px #fff,
    1401px 263px #fff, 429px 1282px #fff, 1166px 579px #fff, 1507px 1548px #fff,
    1062px 815px #fff, 1761px 1231px #fff, 843px 1972px #fff, 1035px 1585px #fff,
    143px 75px #fff, 1604px 428px #fff, 988px 655px #fff, 1151px 250px #fff,
    1766px 1571px #fff, 1863px 401px #fff, 546px 1379px #fff, 261px 1206px #fff,
    1266px 195px #fff, 1907px 1122px #fff, 1719px 137px #fff, 1210px 558px #fff,
    983px 398px #fff, 1297px 1798px #fff, 860px 757px #fff, 339px 74px #fff,
    616px 765px #fff, 1888px 1505px #fff, 1385px 1711px #fff, 420px 986px #fff,
    1977px 1042px #fff, 1374px 1939px #fff, 1606px 1158px #fff,
    1406px 1127px #fff, 1734px 474px #fff, 1163px 1952px #fff, 995px 776px #fff,
    367px 789px #fff, 1833px 1945px #fff, 1393px 567px #fff, 941px 593px #fff,
    1784px 361px #fff, 943px 1575px #fff, 1124px 358px #fff, 1157px 699px #fff,
    1818px 837px #fff, 1795px 1383px #fff, 930px 125px #fff, 1718px 305px #fff,
    694px 1018px #fff, 135px 1105px #fff, 381px 255px #fff, 544px 1956px #fff,
    589px 1800px #fff, 699px 1432px #fff, 934px 1578px #fff, 355px 1773px #fff,
    1412px 1838px #fff, 390px 1586px #fff, 347px 853px #fff, 997px 111px #fff,
    1620px 913px #fff, 347px 1987px #fff, 108px 465px #fff, 113px 1515px #fff,
    328px 827px #fff, 383px 8px #fff, 1075px 5px #fff, 27px 376px #fff,
    1374px 1249px #fff, 1px 720px #fff, 932px 1420px #fff, 1033px 1545px #fff,
    1483px 1266px #fff, 782px 1328px #fff, 462px 998px #fff, 21px 953px #fff,
    1135px 813px #fff, 1724px 1653px #fff, 1275px 134px #fff, 1161px 272px #fff,
    1644px 633px #fff, 198px 112px #fff, 1143px 1569px #fff, 421px 706px #fff,
    681px 1679px #fff, 703px 62px #fff, 1072px 1860px #fff, 301px 1174px #fff,
    43px 947px #fff, 134px 1323px #fff, 509px 1389px #fff, 1462px 528px #fff,
    1636px 203px #fff, 1527px 1323px #fff, 1024px 1197px #fff, 530px 695px #fff,
    1425px 589px #fff, 280px 870px #fff, 162px 731px #fff, 327px 1371px #fff,
    1515px 1634px #fff, 466px 1027px #fff, 736px 1570px #fff, 922px 1226px #fff,
    1927px 1686px #fff, 480px 987px #fff, 1637px 773px #fff, 1503px 852px #fff,
    184px 1575px #fff, 593px 492px #fff, 1178px 345px #fff, 496px 491px #fff,
    1666px 1127px #fff, 1760px 257px #fff, 1554px 1227px #fff,
    1779px 1006px #fff, 1565px 411px #fff, 1494px 1638px #fff,
    1439px 1187px #fff, 1949px 750px #fff, 1407px 1808px #fff, 56px 546px #fff,
    1914px 1329px #fff, 1557px 1783px #fff, 1847px 1433px #fff,
    984px 1947px #fff, 1399px 711px #fff, 1290px 109px #fff, 1598px 1632px #fff,
    1364px 505px #fff, 1374px 350px #fff, 98px 897px #fff, 784px 1866px #fff,
    1767px 957px #fff, 560px 1816px #fff, 293px 685px #fff, 1464px 1660px #fff,
    1243px 324px #fff, 426px 359px #fff, 1470px 4px #fff, 836px 356px #fff,
    664px 637px #fff, 934px 1249px #fff, 190px 730px #fff, 1977px 947px #fff,
    176px 1323px #fff, 894px 1030px #fff, 745px 83px #fff, 1832px 140px #fff,
    1110px 976px #fff, 558px 651px #fff, 1088px 1389px #fff, 1985px 91px #fff,
    1288px 176px #fff, 1086px 742px #fff, 1627px 1794px #fff, 502px 1603px #fff,
    646px 512px #fff, 336px 398px #fff, 1229px 378px #fff, 809px 1185px #fff,
    166px 146px #fff, 139px 667px #fff, 502px 1552px #fff, 783px 839px #fff,
    671px 422px #fff, 1680px 639px #fff, 1979px 979px #fff, 43px 1226px #fff,
    1977px 647px #fff, 1133px 722px #fff, 487px 590px #fff, 210px 1171px #fff,
    1162px 309px #fff, 874px 347px #fff, 1491px 1685px #fff, 1502px 539px #fff,
    353px 232px #fff, 941px 373px #fff, 1704px 1411px #fff, 853px 1287px #fff,
    714px 1714px #fff, 642px 1588px #fff, 1068px 962px #fff, 1235px 986px #fff,
    817px 1891px #fff, 970px 818px #fff, 556px 873px #fff, 495px 1532px #fff,
    1589px 912px #fff, 977px 1951px #fff, 1772px 1761px #fff, 1718px 1757px #fff,
    1518px 1378px #fff, 1804px 774px #fff, 1909px 761px #fff, 1791px 1786px #fff,
    1952px 1600px #fff, 891px 929px #fff, 1400px 1973px #fff, 1906px 1929px #fff,
    688px 1611px #fff, 1312px 1539px #fff, 689px 355px #fff, 1012px 1125px #fff,
    151px 866px #fff, 193px 935px #fff, 1376px 416px #fff, 265px 1677px #fff,
    902px 917px #fff, 905px 560px #fff, 1000px 1628px #fff, 542px 1000px #fff,
    1142px 1665px #fff, 1821px 1826px #fff, 1355px 1781px #fff,
    1967px 306px #fff, 1278px 1448px #fff, 658px 336px #fff, 1791px 38px #fff,
    590px 1820px #fff, 1784px 385px #fff, 335px 1894px #fff, 1459px 952px #fff,
    936px 1657px #fff, 1869px 1136px #fff, 123px 447px #fff, 1945px 1879px #fff,
    551px 260px #fff, 1662px 1951px #fff, 6px 187px #fff, 356px 279px #fff,
    1332px 745px #fff, 1716px 530px #fff, 540px 1349px #fff, 647px 205px #fff,
    1200px 492px #fff, 696px 434px #fff, 735px 104px #fff, 989px 1945px #fff,
    997px 633px #fff, 1579px 1413px #fff, 383px 1195px #fff, 1111px 932px #fff,
    1531px 813px #fff, 1001px 429px #fff, 1895px 261px #fff, 1685px 92px #fff,
    1535px 826px #fff, 1335px 1769px #fff, 935px 755px #fff, 1263px 89px #fff,
    936px 1923px #fff, 969px 1363px #fff, 1597px 260px #fff, 1792px 484px #fff,
    1355px 575px #fff, 1459px 1401px #fff, 580px 250px #fff, 1204px 1640px #fff,
    688px 1969px #fff, 438px 46px #fff, 909px 764px #fff, 1734px 1279px #fff,
    429px 1727px #fff, 1519px 456px #fff, 1085px 463px #fff, 91px 788px #fff,
    714px 1607px #fff, 1116px 1736px #fff, 1766px 1917px #fff, 126px 399px #fff,
    991px 423px #fff, 695px 1342px #fff, 1009px 641px #fff, 71px 222px #fff,
    1987px 610px #fff, 1954px 663px #fff, 787px 1106px #fff, 912px 1778px #fff,
    1402px 1848px #fff, 821px 1155px #fff, 720px 826px #fff, 928px 1315px #fff,
    815px 1873px #fff, 757px 1037px #fff, 1856px 1978px #fff, 1753px 257px #fff,
    1081px 160px #fff, 1562px 191px #fff, 1712px 991px #fff, 1590px 252px #fff,
    1827px 1248px #fff, 1073px 1894px #fff, 836px 598px #fff, 425px 734px #fff,
    974px 755px #fff, 315px 1955px #fff, 1151px 1878px #fff, 511px 982px #fff,
    1994px 529px #fff, 318px 108px #fff, 374px 1680px #fff, 1654px 983px #fff,
    1336px 912px #fff, 1139px 650px #fff, 931px 648px #fff, 468px 1339px #fff,
    1515px 717px #fff, 1195px 1578px #fff, 1358px 454px #fff, 1586px 989px #fff,
    1504px 189px #fff, 1570px 1488px #fff, 1571px 1495px #fff, 1530px 463px #fff,
    854px 685px #fff, 65px 567px #fff, 1020px 816px #fff, 1074px 605px #fff,
    1936px 1480px #fff, 1466px 1789px #fff, 198px 643px #fff, 1431px 257px #fff,
    769px 554px #fff, 1651px 1524px #fff, 1092px 884px #fff, 1821px 1005px #fff,
    905px 1975px #fff, 1877px 59px #fff, 726px 998px #fff, 1331px 293px #fff,
    1992px 699px #fff, 933px 942px #fff, 38px 858px #fff, 1850px 250px #fff,
    602px 432px #fff, 280px 1092px #fff, 1124px 4px #fff, 1935px 108px #fff,
    809px 1424px #fff, 1172px 565px #fff, 853px 402px #fff, 1302px 982px #fff,
    138px 1366px #fff, 512px 75px #fff, 1656px 1668px #fff, 629px 172px #fff,
    157px 1840px #fff, 1221px 1471px #fff, 271px 261px #fff, 1418px 1377px #fff,
    721px 1236px #fff, 701px 1101px #fff, 322px 1464px #fff, 3px 1426px #fff,
    933px 820px #fff, 1456px 1988px #fff, 1394px 920px #fff, 659px 72px #fff,
    630px 215px #fff, 1778px 1083px #fff, 377px 1198px #fff, 1562px 809px #fff,
    616px 1867px #fff, 383px 121px #fff, 1334px 528px #fff, 261px 387px #fff,
    182px 1196px #fff, 152px 1857px #fff, 1708px 158px #fff, 456px 1974px #fff,
    533px 1003px #fff, 1843px 292px #fff, 621px 724px #fff, 1443px 1254px #fff,
    185px 1027px #fff, 1329px 38px #fff, 839px 1008px #fff, 571px 1262px #fff,
    1757px 425px #fff, 837px 934px #fff, 263px 1522px #fff, 23px 1502px #fff,
    65px 1548px #fff, 1861px 1497px #fff, 527px 371px #fff, 1095px 391px #fff,
    513px 556px #fff, 444px 684px #fff, 1369px 392px #fff, 1741px 421px #fff,
    767px 69px #fff, 42px 1850px #fff, 1993px 337px #fff, 1864px 1072px #fff,
    354px 1791px #fff, 1932px 549px #fff, 1188px 1712px #fff, 1319px 1969px #fff,
    971px 1601px #fff, 663px 860px #fff, 1002px 398px #fff, 1257px 552px #fff,
    1337px 784px #fff, 197px 1217px #fff, 1188px 1020px #fff, 517px 1504px #fff,
    1626px 1050px #fff, 393px 1572px #fff, 72px 1843px #fff, 376px 1427px #fff,
    614px 126px #fff, 220px 907px #fff, 743px 251px #fff, 689px 383px #fff,
    586px 324px #fff, 1495px 51px #fff, 1792px 1562px #fff, 1281px 112px #fff,
    974px 1003px #fff, 436px 523px #fff, 1782px 928px #fff, 928px 502px #fff,
    71px 1060px #fff, 1974px 1463px #fff, 1028px 1871px #fff, 1623px 472px #fff,
    605px 254px #fff, 1946px 345px #fff, 1486px 1444px #fff, 1511px 1396px #fff,
    931px 382px #fff, 385px 1786px #fff, 1422px 1684px #fff, 1637px 777px #fff,
    1876px 150px #fff, 1172px 1539px #fff, 1550px 80px #fff, 538px 807px #fff,
    13px 1808px #fff, 762px 1292px #fff, 87px 225px #fff, 1277px 1255px #fff,
    1276px 1528px #fff, 1745px 528px #fff, 1252px 1057px #fff, 584px 1567px #fff,
    627px 980px #fff, 1666px 1898px #fff, 695px 55px #fff, 243px 500px #fff,
    173px 794px #fff, 1033px 609px #fff, 1892px 1717px #fff, 278px 43px #fff,
    1349px 192px #fff, 1034px 152px #fff, 11px 28px #fff;
}
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 861px 1206px #fff, 1773px 1262px #fff, 1547px 892px #fff,
    974px 73px #fff, 71px 1678px #fff, 33px 1088px #fff, 1031px 745px #fff,
    1652px 826px #fff, 131px 1249px #fff, 1807px 676px #fff, 1092px 354px #fff,
    480px 894px #fff, 686px 1203px #fff, 1941px 112px #fff, 1568px 688px #fff,
    882px 397px #fff, 359px 1102px #fff, 1386px 301px #fff, 250px 1718px #fff,
    921px 1582px #fff, 689px 1397px #fff, 930px 1350px #fff, 833px 1985px #fff,
    1722px 1601px #fff, 144px 899px #fff, 572px 674px #fff, 1454px 1875px #fff,
    1374px 1571px #fff, 1523px 1047px #fff, 1201px 138px #fff, 1136px 452px #fff,
    1395px 190px #fff, 583px 306px #fff, 1197px 733px #fff, 1357px 1737px #fff,
    1260px 677px #fff, 133px 977px #fff, 1519px 595px #fff, 1655px 423px #fff,
    1372px 325px #fff, 271px 774px #fff, 1325px 1054px #fff, 762px 1060px #fff,
    1414px 546px #fff, 778px 1832px #fff, 1221px 886px #fff, 41px 124px #fff,
    139px 1824px #fff, 1819px 496px #fff, 327px 366px #fff, 902px 937px #fff,
    35px 431px #fff, 382px 1908px #fff, 1923px 1198px #fff, 1204px 1075px #fff,
    1200px 1582px #fff, 233px 1865px #fff, 135px 623px #fff, 1807px 585px #fff,
    66px 326px #fff, 207px 1241px #fff, 988px 1640px #fff, 115px 791px #fff,
    445px 640px #fff, 696px 322px #fff, 1693px 863px #fff, 1141px 1421px #fff,
    1603px 1809px #fff, 1925px 1866px #fff, 1496px 1963px #fff,
    1584px 1808px #fff, 1116px 109px #fff, 1714px 518px #fff, 80px 1385px #fff,
    1876px 888px #fff, 1793px 1783px #fff, 1155px 847px #fff, 1646px 488px #fff,
    533px 1980px #fff, 816px 1038px #fff, 289px 716px #fff, 1663px 1178px #fff,
    1605px 801px #fff, 1223px 721px #fff, 1347px 2000px #fff, 1836px 46px #fff,
    866px 111px #fff, 1173px 410px #fff, 758px 1486px #fff, 22px 40px #fff,
    1325px 339px #fff, 1761px 1808px #fff, 1209px 1630px #fff,
    1315px 1809px #fff, 1376px 102px #fff, 553px 453px #fff, 861px 550px #fff,
    1718px 597px #fff, 1270px 1680px #fff, 1963px 39px #fff, 342px 405px #fff,
    1034px 418px #fff, 832px 711px #fff, 187px 1420px #fff, 1936px 813px #fff,
    1963px 380px #fff, 421px 400px #fff, 621px 1638px #fff, 1904px 823px #fff,
    1013px 95px #fff, 1163px 1062px #fff, 268px 872px #fff, 1712px 1322px #fff,
    936px 1766px #fff, 548px 762px #fff, 1634px 11px #fff, 708px 1042px #fff,
    1977px 1855px #fff, 1810px 826px #fff, 1264px 1551px #fff, 904px 431px #fff,
    260px 809px #fff, 1467px 987px #fff, 1060px 1446px #fff, 1067px 1332px #fff,
    1936px 1609px #fff, 823px 1088px #fff, 1300px 1066px #fff,
    1257px 1093px #fff, 1219px 1914px #fff, 530px 868px #fff, 132px 7px #fff,
    790px 1814px #fff, 691px 1010px #fff, 112px 1249px #fff, 1827px 1478px #fff,
    876px 1020px #fff, 1819px 1278px #fff, 1915px 498px #fff, 1262px 1084px #fff,
    1084px 1874px #fff, 301px 712px #fff, 416px 1128px #fff, 1081px 853px #fff,
    1712px 130px #fff, 329px 1234px #fff, 313px 973px #fff, 1522px 1073px #fff,
    1726px 690px #fff, 1626px 1845px #fff, 599px 126px #fff, 1303px 626px #fff,
    1906px 711px #fff, 322px 1259px #fff, 908px 261px #fff, 1767px 1037px #fff,
    930px 1772px #fff, 772px 1037px #fff, 1614px 908px #fff, 1401px 244px #fff,
    107px 694px #fff, 718px 823px #fff, 404px 216px #fff, 180px 1153px #fff,
    909px 843px #fff, 931px 1254px #fff, 574px 113px #fff, 1198px 1088px #fff,
    66px 474px #fff, 217px 1659px #fff, 1129px 604px #fff, 593px 902px #fff,
    982px 1067px #fff, 1779px 1410px #fff, 1707px 1248px #fff, 96px 191px #fff,
    1310px 1321px #fff, 1975px 1000px #fff, 487px 1002px #fff,
    1366px 1176px #fff, 124px 789px #fff, 1347px 1385px #fff, 206px 1873px #fff,
    1480px 1409px #fff, 1191px 130px #fff, 255px 1613px #fff, 218px 1678px #fff,
    756px 1857px #fff, 953px 1648px #fff, 1070px 1414px #fff, 1434px 435px #fff,
    205px 42px #fff, 1474px 466px #fff, 494px 571px #fff, 1448px 1218px #fff,
    1560px 964px #fff, 591px 1072px #fff, 234px 1701px #fff, 976px 872px #fff,
    995px 450px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 861px 1206px #fff, 1773px 1262px #fff, 1547px 892px #fff,
    974px 73px #fff, 71px 1678px #fff, 33px 1088px #fff, 1031px 745px #fff,
    1652px 826px #fff, 131px 1249px #fff, 1807px 676px #fff, 1092px 354px #fff,
    480px 894px #fff, 686px 1203px #fff, 1941px 112px #fff, 1568px 688px #fff,
    882px 397px #fff, 359px 1102px #fff, 1386px 301px #fff, 250px 1718px #fff,
    921px 1582px #fff, 689px 1397px #fff, 930px 1350px #fff, 833px 1985px #fff,
    1722px 1601px #fff, 144px 899px #fff, 572px 674px #fff, 1454px 1875px #fff,
    1374px 1571px #fff, 1523px 1047px #fff, 1201px 138px #fff, 1136px 452px #fff,
    1395px 190px #fff, 583px 306px #fff, 1197px 733px #fff, 1357px 1737px #fff,
    1260px 677px #fff, 133px 977px #fff, 1519px 595px #fff, 1655px 423px #fff,
    1372px 325px #fff, 271px 774px #fff, 1325px 1054px #fff, 762px 1060px #fff,
    1414px 546px #fff, 778px 1832px #fff, 1221px 886px #fff, 41px 124px #fff,
    139px 1824px #fff, 1819px 496px #fff, 327px 366px #fff, 902px 937px #fff,
    35px 431px #fff, 382px 1908px #fff, 1923px 1198px #fff, 1204px 1075px #fff,
    1200px 1582px #fff, 233px 1865px #fff, 135px 623px #fff, 1807px 585px #fff,
    66px 326px #fff, 207px 1241px #fff, 988px 1640px #fff, 115px 791px #fff,
    445px 640px #fff, 696px 322px #fff, 1693px 863px #fff, 1141px 1421px #fff,
    1603px 1809px #fff, 1925px 1866px #fff, 1496px 1963px #fff,
    1584px 1808px #fff, 1116px 109px #fff, 1714px 518px #fff, 80px 1385px #fff,
    1876px 888px #fff, 1793px 1783px #fff, 1155px 847px #fff, 1646px 488px #fff,
    533px 1980px #fff, 816px 1038px #fff, 289px 716px #fff, 1663px 1178px #fff,
    1605px 801px #fff, 1223px 721px #fff, 1347px 2000px #fff, 1836px 46px #fff,
    866px 111px #fff, 1173px 410px #fff, 758px 1486px #fff, 22px 40px #fff,
    1325px 339px #fff, 1761px 1808px #fff, 1209px 1630px #fff,
    1315px 1809px #fff, 1376px 102px #fff, 553px 453px #fff, 861px 550px #fff,
    1718px 597px #fff, 1270px 1680px #fff, 1963px 39px #fff, 342px 405px #fff,
    1034px 418px #fff, 832px 711px #fff, 187px 1420px #fff, 1936px 813px #fff,
    1963px 380px #fff, 421px 400px #fff, 621px 1638px #fff, 1904px 823px #fff,
    1013px 95px #fff, 1163px 1062px #fff, 268px 872px #fff, 1712px 1322px #fff,
    936px 1766px #fff, 548px 762px #fff, 1634px 11px #fff, 708px 1042px #fff,
    1977px 1855px #fff, 1810px 826px #fff, 1264px 1551px #fff, 904px 431px #fff,
    260px 809px #fff, 1467px 987px #fff, 1060px 1446px #fff, 1067px 1332px #fff,
    1936px 1609px #fff, 823px 1088px #fff, 1300px 1066px #fff,
    1257px 1093px #fff, 1219px 1914px #fff, 530px 868px #fff, 132px 7px #fff,
    790px 1814px #fff, 691px 1010px #fff, 112px 1249px #fff, 1827px 1478px #fff,
    876px 1020px #fff, 1819px 1278px #fff, 1915px 498px #fff, 1262px 1084px #fff,
    1084px 1874px #fff, 301px 712px #fff, 416px 1128px #fff, 1081px 853px #fff,
    1712px 130px #fff, 329px 1234px #fff, 313px 973px #fff, 1522px 1073px #fff,
    1726px 690px #fff, 1626px 1845px #fff, 599px 126px #fff, 1303px 626px #fff,
    1906px 711px #fff, 322px 1259px #fff, 908px 261px #fff, 1767px 1037px #fff,
    930px 1772px #fff, 772px 1037px #fff, 1614px 908px #fff, 1401px 244px #fff,
    107px 694px #fff, 718px 823px #fff, 404px 216px #fff, 180px 1153px #fff,
    909px 843px #fff, 931px 1254px #fff, 574px 113px #fff, 1198px 1088px #fff,
    66px 474px #fff, 217px 1659px #fff, 1129px 604px #fff, 593px 902px #fff,
    982px 1067px #fff, 1779px 1410px #fff, 1707px 1248px #fff, 96px 191px #fff,
    1310px 1321px #fff, 1975px 1000px #fff, 487px 1002px #fff,
    1366px 1176px #fff, 124px 789px #fff, 1347px 1385px #fff, 206px 1873px #fff,
    1480px 1409px #fff, 1191px 130px #fff, 255px 1613px #fff, 218px 1678px #fff,
    756px 1857px #fff, 953px 1648px #fff, 1070px 1414px #fff, 1434px 435px #fff,
    205px 42px #fff, 1474px 466px #fff, 494px 571px #fff, 1448px 1218px #fff,
    1560px 964px #fff, 591px 1072px #fff, 234px 1701px #fff, 976px 872px #fff,
    995px 450px #fff;
}
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 438px 7px #fff, 1442px 1001px #fff, 283px 1404px #fff,
    292px 1820px #fff, 1795px 1167px #fff, 789px 340px #fff, 1169px 825px #fff,
    500px 1957px #fff, 1293px 818px #fff, 1692px 18px #fff, 1093px 1038px #fff,
    1622px 1219px #fff, 1049px 753px #fff, 1953px 548px #fff, 210px 1210px #fff,
    599px 1920px #fff, 1646px 1810px #fff, 1773px 1416px #fff, 1433px 508px #fff,
    1344px 714px #fff, 787px 489px #fff, 1092px 1418px #fff, 1890px 117px #fff,
    1731px 831px #fff, 1684px 46px #fff, 604px 1442px #fff, 1971px 1365px #fff,
    869px 8px #fff, 752px 1633px #fff, 374px 1262px #fff, 1269px 1686px #fff,
    1571px 617px #fff, 901px 1191px #fff, 426px 329px #fff, 1896px 626px #fff,
    359px 855px #fff, 1067px 93px #fff, 805px 195px #fff, 1035px 849px #fff,
    136px 173px #fff, 1425px 1457px #fff, 672px 470px #fff, 1133px 968px #fff,
    1701px 1832px #fff, 1545px 66px #fff, 258px 4px #fff, 1735px 1108px #fff,
    385px 1852px #fff, 684px 1297px #fff, 808px 122px #fff, 179px 1504px #fff,
    239px 320px #fff, 1475px 867px #fff, 1989px 1072px #fff, 1992px 138px #fff,
    920px 91px #fff, 1787px 778px #fff, 1430px 1823px #fff, 1453px 164px #fff,
    235px 1363px #fff, 361px 295px #fff, 1962px 1787px #fff, 795px 1279px #fff,
    1884px 807px #fff, 1482px 1181px #fff, 1525px 720px #fff, 198px 1698px #fff,
    1742px 1009px #fff, 1355px 501px #fff, 164px 878px #fff, 1427px 1295px #fff,
    316px 720px #fff, 687px 942px #fff, 1312px 333px #fff, 433px 1997px #fff,
    726px 1103px #fff, 97px 1060px #fff, 1347px 1700px #fff, 1599px 91px #fff,
    986px 1689px #fff, 704px 1125px #fff, 366px 590px #fff, 719px 353px #fff,
    1212px 193px #fff, 1533px 1769px #fff, 1202px 1282px #fff,
    1250px 1773px #fff, 445px 1076px #fff, 666px 1970px #fff, 1051px 453px #fff,
    1172px 1654px #fff, 979px 1257px #fff, 1084px 438px #fff, 576px 1176px #fff,
    1146px 175px #fff, 1080px 476px #fff, 139px 1709px #fff, 90px 1263px #fff,
    1046px 1013px #fff, 930px 1007px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 438px 7px #fff, 1442px 1001px #fff, 283px 1404px #fff,
    292px 1820px #fff, 1795px 1167px #fff, 789px 340px #fff, 1169px 825px #fff,
    500px 1957px #fff, 1293px 818px #fff, 1692px 18px #fff, 1093px 1038px #fff,
    1622px 1219px #fff, 1049px 753px #fff, 1953px 548px #fff, 210px 1210px #fff,
    599px 1920px #fff, 1646px 1810px #fff, 1773px 1416px #fff, 1433px 508px #fff,
    1344px 714px #fff, 787px 489px #fff, 1092px 1418px #fff, 1890px 117px #fff,
    1731px 831px #fff, 1684px 46px #fff, 604px 1442px #fff, 1971px 1365px #fff,
    869px 8px #fff, 752px 1633px #fff, 374px 1262px #fff, 1269px 1686px #fff,
    1571px 617px #fff, 901px 1191px #fff, 426px 329px #fff, 1896px 626px #fff,
    359px 855px #fff, 1067px 93px #fff, 805px 195px #fff, 1035px 849px #fff,
    136px 173px #fff, 1425px 1457px #fff, 672px 470px #fff, 1133px 968px #fff,
    1701px 1832px #fff, 1545px 66px #fff, 258px 4px #fff, 1735px 1108px #fff,
    385px 1852px #fff, 684px 1297px #fff, 808px 122px #fff, 179px 1504px #fff,
    239px 320px #fff, 1475px 867px #fff, 1989px 1072px #fff, 1992px 138px #fff,
    920px 91px #fff, 1787px 778px #fff, 1430px 1823px #fff, 1453px 164px #fff,
    235px 1363px #fff, 361px 295px #fff, 1962px 1787px #fff, 795px 1279px #fff,
    1884px 807px #fff, 1482px 1181px #fff, 1525px 720px #fff, 198px 1698px #fff,
    1742px 1009px #fff, 1355px 501px #fff, 164px 878px #fff, 1427px 1295px #fff,
    316px 720px #fff, 687px 942px #fff, 1312px 333px #fff, 433px 1997px #fff,
    726px 1103px #fff, 97px 1060px #fff, 1347px 1700px #fff, 1599px 91px #fff,
    986px 1689px #fff, 704px 1125px #fff, 366px 590px #fff, 719px 353px #fff,
    1212px 193px #fff, 1533px 1769px #fff, 1202px 1282px #fff,
    1250px 1773px #fff, 445px 1076px #fff, 666px 1970px #fff, 1051px 453px #fff,
    1172px 1654px #fff, 979px 1257px #fff, 1084px 438px #fff, 576px 1176px #fff,
    1146px 175px #fff, 1080px 476px #fff, 139px 1709px #fff, 90px 1263px #fff,
    1046px 1013px #fff, 930px 1007px #fff;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
/*  START Header arkaplan yildizlari    */

/*  START Project Container     */
.projects-container {
  width: 100%;
  height: auto;
}
.projects-container .project-borders {
  width: 100%;
  height: auto;
}
.projects-container .project-header {
  margin-top: 50px;
  text-align: center;
  font-size: 35px;
  color: #101010;
  font-weight: bolder;
}
.project-borders .project-item-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 0;
}
.project-item-container .project-items {
  width: 400px;
  height: 300px;
  margin: 10px 0;

}
.project-items .content {
  height: 100%;
  background-size: cover;
  transition: 5s all;
  border: 2px solid #62cafd;
  border-radius: 10px;
}
.project-items:hover .content {
  background-position: bottom;
}
.project-items .content a {
  cursor: pointer;
  display: block;
  width: 400px;
  height: 300px;
}
.all-projects{
  display: flex;
  justify-content: center;
}
.all-projects a {
  border: 1px solid #141414;
  border-radius: 20px;
  color: #141414;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  padding: 7px 10%;
}
.all-projects a:hover {
  background: linear-gradient(to right, #141414 0, #fff 10%, #141414 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  border-color: #141414;
  transition: border-color 300ms;
  text-decoration: none;
  white-space: nowrap;
}
/*  END Project Container     */

/*  START Blog Container     */
.blog-container {
  width: 100%;
  height: 300px; /*  ONEMLI  */
  font-size: 25px;
  font-weight: 600;
}
.blog-content {
  width: 100%;
  height: 200px;
  padding: 0 15%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.blog-text {
  float: left;
  width: 70%;
  height: 200px;
}
.blog-text h1,
p {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.blog-btn {
  float: right;
  width: 30%;
  height: 200px;
}
.blog-btn a {
  position: relative;
  top: 40%;
  left: 15%;
  transform: translate(-50%, -50%);
  border: 1px solid #62cafd;
  border-radius: 20px;
  padding: 5px 50px;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #62cafd;
}
.blog-btn a:hover {
  background: linear-gradient(to right, #62cafd 0, #fff 10%, #62cafd 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: bolder;
  border-color: #fff;
  transition: border-color 300ms;
  text-decoration: none;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .blog-content {
    height: 350px;
    margin-top: 10%;
  }
  .blog-text {
    font-size: 20px;
    width: 100%;
  }
  .blog-btn {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
/*  END Blog Container     */

/*  START About Container     */
.about-container {
  width: 100%;
  height: auto;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-left {
  width: 70%;
  float: left;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.about-left h1 {
  display: inline-block;
  background-color: #62cafd;
  padding-right: 60px;
  color: #141414;
}
.about-left p {
  margin-top: 50px;
  color: #141414;
}
.about-left a {
  border: 1px solid #141414;
  border-radius: 20px;
  color: #141414;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  padding: 7px 10%;
  float: right;
}
.about-left a:hover {
  background: linear-gradient(to right, #141414 0, #fff 10%, #141414 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  border-color: #141414;
  transition: border-color 300ms;
  text-decoration: none;
  white-space: nowrap;
}

.about-right {
  width: 30%;
  height: 450px;
  float: right;
  background-color: #141414;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.about-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}
.about-img img {
  height: 450px;
  object-fit: cover;
}
.about-img-text h2 {
  color: white;
  line-height: 20px;
  font-size: 17px;
  letter-spacing: 10px;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    font-size: medium;
  }
  .about-left {
    flex-direction: column;
    width: 100%;
  }
  .about-left .a-text {
    margin-top: 50px;
  }
  .about-left .a-btn {
    margin-top: -70px;
  }
  .about-right {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
}
/*  END About Container     */

/*  START Contact Container     */
.contact-container {
  width: 100%;
  height: auto;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  background-color: #141414;
}
.contact-left {
  width: 60%;
  float: left;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.contact-left h3 {
  color: #62cafd;
  float: left;
  font-size: xx-large;
}
.left-content .user-box {
  position: relative;
  margin-top: 20px;
}
.left-content .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.left-content .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.left-content .user-box input:focus ~ label,
.left-content .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  background-image: linear-gradient(
    to right top,
    #71e4ff,
    #67beff,
    #b388ee,
    #e43f95,
    #cf111d
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}
.left-content .user-box input:focus {
  border-color: #62cafd;
}
.contact-left .send-m {
  border: 1px solid #62cafd;
  border-radius: 20px;
  color: #62cafd;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  padding: 7px 10%;
  float: left;
}
.contact-left .send-m:hover {
  cursor: pointer;
  background: linear-gradient(to right, #62cafd 0, #fff 10%, #62cafd 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  border-color: #62cafd;
  transition: border-color 300ms;
  text-decoration: none;
  white-space: nowrap;
}

.contact-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.right-content {
  width: 100%;
  color: #fff;
}
.right-content h3 {
  color: #62cafd;
  font-size: xx-large;
}
.right-content .right-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.right-item i {
  margin-right: 15px;
  font-size: 25px;
  background-image: linear-gradient(
    to right top,
    #71e4ff,
    #67beff,
    #b388ee,
    #e43f95,
    #cf111d
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.right-item h5 {
  font-weight: bolder;
  font-size: large;
  margin-right: 15px;
  letter-spacing: 1px;
}
.right-item h6 {
  font-size: medium;
  color: rgb(172, 168, 168);
}
@media only screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    font-size: small;
  }
  .contact-left {
    flex-direction: column;
    width: 100%;
  }
  .contact-right {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .right-item h6 {
    width: 100%;
  }
}
/*  END Contact Container     */

/*  START Footer Container     */
.footer-container {
  width: 100%;
  height: 50px;
  margin-top: -40px;
  background-color: #141414;
}
.footer-container h4 {
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  margin-top: 40px;
}
@media only screen and (max-width: 768px){
  .footer-container h4{
    font-size: 13px;
    margin-top: 0;
  }
}
/*  END Footer Container     */
