@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
::-webkit-scrollbar {
  background-color: #ffffff;
  height: 1px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #0f33ff;
}
.works {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
}
.works_header {
  z-index: 1;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin: 0 auto;
}
.works_header > button {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}
.works_header > button:hover {
  color: #0f33ff;
  transition: color 500ms;
}
.works_header > .active {
  color: #0f33ff;
}

.works_slider {
  /* margin-top: 10px;
  z-index: 1;
  width: 100%;
  height: 100%; */
  display: flex;
  z-index: 1;
}
.slider_inner {
  display: flex;
  width: 95%;
  /* overflow-x: scroll; */
  overflow-x: hidden;
}
.w_item {
  min-width: 640px;
  min-height: 400px;
  padding: 80px 30px;
}

.w_image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition: 4s all;
  background-size: cover;
  cursor: pointer;
  position: relative;

}
.w_image:hover {
  background-position: bottom;
}

.w_btns {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  border: none;
}
.w_btns > p {
  font-size: 18px;
  font-weight: 400;
}
.w_btns:hover > p {
  color: #0f33ff;
  transition: color 500ms;
}
.w_btns h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
}

.arrow_btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}
.arrow_btn:hover {
  color: #0f33ff;
  transition: color 500ms;
}