.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin: 40px 0px;
}

.link:hover,
.link:active {
  border-bottom: 1px solid red;
  cursor: pointer;
}
