html,
body {
  cursor: none;
}
html *,
body * {
  cursor: none;
}
body {
  background-color: #0c0c0c;
  color: #ffffff;
  .container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
  }
}
