body {
    background-color: #0c0c0c;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .app-container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
  }
  .app-content {
    border: 1px solid green;
    max-width: 1200px;
    margin: 0 auto;
    height: 700px;
  }

  .sidebar{
    width: 40px;
    height: 590px;
    border: 1px solid #ffffff;
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translate(-5%,-50%);
  }

  .visible {
    animation: 1s fadeIn ease-in-out forwards;
    z-index: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }