.contact {
  max-width: 1200px;
  height: calc(490px + 100px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Montserrat";
}
.image {
  background-image: url("https://i.im.ge/2022/08/07/FRRB1K.baku-map-1.png"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  width: 70%;
}
.pin {
  position: absolute;
  width: 100px;
  height: 60px;
  top: 62.5%;
  left: 36.5%;
  transform: translate(-62.5%, -36.5%);
  filter: brightness(50%);
}

.links-container {
  background-color: #000000;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
  height: auto;
  padding: 5px;
  gap: 5px;
  overflow: hidden;
}