.cursor {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    transition: all 100ms ease;
    transition-property: opacity, background-color, transform;
  }
  .c_hidden {
    opacity: 0;
  }
  .c_click {
    transform: translate(-50%, -50%) scale(2);
    background-color: transparent;
  }
  .c_hover {
    transform: translate(-50%, -50%) scale(2);
  }