@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.m_container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  color: #ffffff;
}
.m_home,
.m_about,
.m_works,
.m_contact {
  width: 80%;
  margin: 50px auto;
}
.m_contact {
  display: flex;
  justify-content: center;
}
.m_navbar {
  z-index: 4;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 80%;
  margin: 0 auto;
  background-color: #0c0c0c;
}
.mh_h1 {
  font-size: 38px;
  font-weight: 900;
  margin-bottom: 60px;
  cursor: default;
}
.h_line {
  margin: 20px 0;
}
.h_line::before {
  width: 20px;
}
.b_section {
  display: flex;
  flex-direction: column;
}
.b_section > h2,
.b_section > p {
  line-height: 0;
}
.b_section > h2 {
  margin-top: 30px;
}

.ma_h1 {
  font-size: 38px;
  font-weight: 900;
  cursor: default;
}

.m_card {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0px 0px 50px 40px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 50px 40px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 50px 40px rgba(0, 0, 0, 0.5);
  background-color: #0c0c0c;
}
