@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.cover {
  width: 120px;
  height: auto;
}
.sidebar {
  width: 70px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
}
.s_line {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: block;
  width: 1px;
  height: 580px;
  background-color: #535353;
}
.btn {
  width: auto;
  margin-left: 40px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  border: none;
  background-color: transparent;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}

.dot {
  font-size: 30px;
  position: absolute;
  right: 88%;
  top: 55%;
  transform: translate(-88%, -55%);
  color: #0f33ff;
}
.num {
  pointer-events: none;
}
