@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.works {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
}
.works_header {
  z-index: 1;
  width: 95%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.works_header > button {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}
.works_header > button:hover {
  color: #0f33ff;
  transition: color 500ms;
}
.works_header > .active {
  color: #0f33ff;
}

.works_slider {
  display: flex;
  z-index: 1;
  position: relative;
  width: 95%;
}
.slide_btn_1,
.slide_btn_2 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 45%;
  transform: translate(-45%);
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  color: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slide_btn_1:hover,
.slide_btn_2:hover {
  scale: 1.05;
}
.slide_btn_1 {
  left: -5px;
}
.slide_btn_2 {
  right: -50px;
}
.slide_btn_1 > img,
.slide_btn_2 > img {
  width: 25px;
  height: 25px;
}
.slider_inner {
  display: flex;
  cursor: grab;
  scroll-behavior: smooth;
}
.w_item {
  min-width: 640px;
  min-height: 400px;
  padding: 50px 20px;
}

.w_image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition: 4s all;
  background-size: cover;
  cursor: pointer;
}
.w_image:hover {
  background-position: bottom;
}

.w_btns {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  border: none;
}
.w_btns > p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 300;
}
.w_btns:hover > p {
  color: #0f33ff;
  transition: color 500ms;
}
.w_btns h2 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
}

@media only screen and (max-width: 912px) {
  .w_item {
    min-width: 340px;
    min-height: 200px;
    padding: 50px 20px;
  }
}
