@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bg: #0c0c0c;
  --blue: #0f33ff;
  --dark: #161616;
  --line: #535353;
  --text-1: #ffffff;
  --text-2: #272727;
}

body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg);
  color: var(--text-1);
}
.app {
  width: 1000px;
  margin: 0 auto;
  height: auto;
}
/* Navbar */
.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: var(--bg);
}
.navbar h1 {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 3px;
}
/* Header */
.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.header-inner {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.resume-btn {
  font-family: "Montserrat";
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 22.4px;
  padding: 7px 15px;
  cursor: pointer;
  position: relative;
}
.resume-btn::after {
  z-index: -1;
  position: absolute;
  content: "\00a0";
  background-color: #0f33ff;
  width: 50px;
  padding: 5px 15px;
  top: 0;
  right: 0;
}
.resume-btn:hover::after {
  width: 80px;
  transition: all 300ms ease-in-out;
}
.line::before {
  position: absolute;
  content: "\00a0";
  height: 3px;
  width: 40px;
  background-color: var(--blue);
  left: 1%;
}
.line {
  width: 100%;
  height: 1px;
  background-color: var(--text-2);
  position: relative;
}
.contact {
  display: flex;
  gap: 10px;
}
.contact-item {
  color: var(--text-1);
}
.contact-item:hover {
  transition: color 300ms ease-in-out;
  color: var(--blue);
}
/* Projects */
.projects {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 60px;
}
.project-item,
.project-item-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.project-info,
.project-info-2 {
  width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: justify;
  z-index: 2;
}
.project-tech {
  display: flex;
  gap: 20px;
  color: var(--line);
}
.project-text,
.project-text-2 {
  width: 100%;
  height: auto;
  padding: 20px;
  padding-left: 40px;
  background-color: var(--dark);
  border-radius: 6px;
}
.project-img {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  transition: 4s all;
  background-size: cover;
}
.project-img:hover {
  cursor: pointer;
  background-position: bottom;
}
.project-links {
  display: flex;
  gap: 10px;
}
.project-links a {
  color: var(--text-1);
  transition: color 300ms ease-in-out;
  cursor: pointer;
}
.project-links a:hover {
  color: var(--blue);
}
.project-item-2 {
  flex-direction: row-reverse;
}
.project-info-2 {
  align-items: flex-start;
}
.project-text-2 {
  padding-left: 20px;
  padding-right: 40px;
}
/* Nw Projects */
.nwprojects {
  width: 100%;
  height: auto;
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
}
.nwp-item {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--text-2);
  border-radius: 10px;
  padding: 0px 15px;
}

.nwp-item:hover {
  background-color: #1a1a1a;
}
.nwp-info {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nwp-tech {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--line);
}
.nwp-header {
  color: var(--text-1);
  text-decoration: none;
}
.disabled{
  color: var(--line) !important;
}
@media only screen and (max-width: 712px) {
  .app {
    width: 280px;
    height: auto;
  }
  .header-inner {
    margin-top: 15px;
    height: auto;
    gap: 20px;
    align-items: flex-start;
    flex-direction: column;
  }
  .header-text{
    font-size: 14px;
  }
  .resume-btn {
    padding: 0px;
  }
  .resume-btn::after {
    display: none;
  }
  .line {
    margin-top: 20px;
  }
  .project-header {
    margin-top: 100px;
  }
  .project-item,
  .project-item-2 {
    width: 270px;
    position: relative;
    flex-direction: row;
  }
  .project-img {
    width: 270px;
    position: relative;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    background-color: rgba(0, 0, 0, 0.8);
  }
  .project-info,
  .project-info-2 {
    border-radius: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 12px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15px;
  }
  .project-text,
  .project-text-2 {
    padding: 0;
    align-items: flex-start;
    background-color: transparent;
    color: var(--text-1);
  }
  .project-tech {
    color: var(--text-1);
  }
  .nwp-tech {
    display: none;
  }
}
